body {
    background-color: #000a12;
}

.container {
    max-width: 80%;
}

/*************************************************************************
DASHBOARD
*************************************************************************/
#dashboard_title {
    color: #bb86fc;
    font-size: 32pt;
    font-family: "Roboto";
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}

.divDisplay {
    margin: 20px;
    background-color: #263238;
    color: #ffffff;
    height: 480px;
    border-radius: 10px;
    /* border: 1px; */
    /* border-color: #ffffff; */
    border: solid #707070 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Complaint Box */
.divInput {
    height: 80%;
}

#complaintText {
    border: 0;
    border-radius: 10px;
    background-color: #000a12;
    color: #ffffff;
    width: 100%;
    height: 350px;
    font-family: "Roboto";
    font-size: 16pt;
    padding: 25px;
}

#btnSubmitComplaint {
    margin-top: 20px;
    background-color: #bb86fc;
    border: none;
    color: #000000;
    border-radius: 20px;
    font-family: "Roboto";
    /* font-size: 14pt; */
    padding: 3px 30px;
}

#btnSubmitComplaint:hover {
    background-color: #9e6bdd;
}

/* Department Predictions */
#predictionTitle {
    color: #bb86fc;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 600;
}

#predictionDept {
    background-color: #000a12;
    width: 60%;
    height: 200px;
    border-radius: 10px;
    align-items: center;
}

#precdictionDeptText {
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 28pt;
    color: #ffffff;
}

/* Keywords */
#keywordsTitle {
    color: #bb86fc;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 600;
}

.keywordText {
    text-align: center;
    margin: 0;
    display: block;
    font-family: "Josefin Sans";
    font-weight: 400;
}

#keywordsDiv {
    /* align-items: center; */
    background-color: #000a12;
    width: 60%;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    padding: 30px;
}

/* Next Page Button */
#btnPageChange {
    background-color: #bb86fc;
    border: 0;
    margin: 20px;
    font-family: "Roboto";
    font-size: 12pt;
}
#btnPageChange a {
    text-decoration: none;
    color: #000000;
}

#btnPageChange:hover {
    text-decoration: none;
    background-color: #9e6bdd;
}

.divGraphs {
    padding: 15px;
    height: 480px;
}

/*************************************************************************
ANALYTICS
*************************************************************************/
.deptDropdown {
    padding-top: 25px;
    width: 50%;
}

.keywordBtn {
    display: block;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: #bb86fc;
    color: #000000;
    width: 100%;
    font-family: "Josefin Sans";
    font-size: 14pt;
    padding: 5px 30px;
}

.keywordBtn:hover {
    background-color: #9e6bdd;
}

#keywordsBtnDiv {
    /* background-color: #000a12; */
    width: 60%;
    /* height: 280px; */
    border-radius: 10px;
    align-items: center;
    /* padding: 30px; */
}

/****************************************************************************
GRAPHS
****************************************************************************/
/* Graphs */
.divGraphs .main-svg {
    border-radius: 10px;
}
